/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 825px;
 margin: 0px auto;
}
#content{
    display: block;
    background-color: #000000;
}
img{
    display: inline-block;
    vertical-align: top;
    border: 5px solid #A8A8A8;
    margin: 10px;
}
h1{
    margin-bottom: 10px;
}
.white{
    color: #FFFFFF;
}
